* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

:root {
    --bg-color: #dbdbdb;
    --bg-layout-color: #fff;
    --bg-card-color: #e1e1e6;
    --button-color: #323238;
    --bg-card-color-actived: #00afe4;

    font-size: 62.5%;
}

html.darkmode {
    --bg-color: #1e1e1e;
    --bg-layout-color: #252526;
    --bg-card-color: #2d2d30;
    --button-color: #ececec;
    --bg-card-color-actived: #02799d;
}

html.darkmode .ph-moon,
html:not(.darkmode) .ph-sun {
    display: none;
}

.running .ph-play-circle,
html:not(.running) .ph-pause-circle {
    display: none;
}

body {
    background-color: var(--bg-color);
    display: grid;
    place-items: center;
    min-height: 100vh;
}

#app {
    position: relative;
    background-color: var(--bg-layout-color);
    border-radius: 0.5rem;
    width: 128rem;
    height: 72rem;

    display: grid;
    place-items: center;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, auto);
}

#toggle-mode {
    position: absolute;
    right: 3.2rem;
    top: 3.2rem;
    line-height: 0;
    border: none;
    background-color: transparent;
    color: var(--button-color);
    font-size: 3.2rem;
    cursor: pointer;
}

.screen-reader-only {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;

    margin: -1px;
    padding: 0px;
    border: 0;
    appearance: none;
}

#timer {
    text-align: center;
    font-size: 12.6rem;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    color: var(--button-color);
}

#controls {
    display: flex;
    gap: 4rem;
    justify-content: space-evenly;
    align-items: center;
}

#controls button {
    background-color: transparent;
    border: none;
    color: var(--button-color);
    font-size: 4.8rem;
    cursor: pointer;
}

#sound-card {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3.2rem;
}

#card button {
    width: 13.8rem;
    height: 15.2rem;
    border: none;
    border-radius: 2.4rem;
    background-color: var(--bg-card-color);
    font-size: 6.8rem;
    color: var(--button-color);
    cursor: pointer;
}

#card button.cor2 {
    background-color: var(--bg-card-color-actived);
}
