* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

:root {
    --bg-color: #e5e5e5;
    --bg-cardsound-active-color: #02799d;
    --icon-color: #323238;
    --bg-layout-color: #fff;

    font-size: 62.5%;
}

body {
    background-color: var(--bg-color);
    display: grid;
    place-items: center;
    min-height: 100vh;
}

#app {
    background-color: var(--bg-layout-color);
    border-radius: 0.5rem;
    width: 128rem;
    height: 72rem;

    display: grid;
    place-items: center;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, auto);
}

#timer {
    text-align: center;

    font-size: 12.6rem;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    color: var(--icon-color);
}

#controls {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

#controls button {
    background-color: transparent;
    border: none;
    color: var(--icon-color);
    font-size: 4.8rem;
    cursor: pointer;
}

#card-sound {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3.2rem;
}
